<h2> Dodanie wpisu </h2>
<div>
<%= form_tag 'adding',{ :id => "new-block-form", "data-preview-url" => "/siatka/preview"}  do %>
        <% @dodaj.godz = params[:godz] %>
        <% @dodaj.dlugosc = params[:dlugosc] %>
        <% @dodaj.dni = params[:dni] %>
        <% @dodaj.rodzaj = params[:rodzaj] %>
        <% @dodaj.czestotliwosc = params[:czestotliwosc] %>
        <% @dodaj.grupa = params[:grupa] %>
        <% @dodaj.katedra = params[:katedra] %>
        <% @dodaj.budynek = params[:budynek] %>
        <% @dodaj.uwagi = params[:uwagi] %>

<center>
<table class="formularz">
<tr>
	<td rowspan=3>
    <%= collection_select(:dodaj, :grupa, Group.find(:all), :nazwa, :nazwa, {}, :multiple => true, :size => 7) %>
	</td>
	<td class="label">Godzina</td>
	<td><%= select :dodaj, :godz, @listagodz%></td>
	<td class="label">Prowadzący:</td>
	<td><%= text_field :lecturer, :lecture, { :value => params[:prowadzacy], :size => 20} %></td>
	<td class="label">Sala</td>
	<td>
		<div style="width: 150px"> <%= text_field :room, :numer, { :value => params[:sala], :size => 5} %></div>
	</td>
	<td class="label">Długość zajęć:</td>
	<td><%= select(:dodaj, :dlugosc, @dlugosc, :selected => @dodaj.dlugosc.to_s, :include_blank => false ) %></td>
</tr>
<tr>
	<td class="label">Dzień</td>
  <td> <%= select(:dodaj, :dni, @dni) %></td>
	<td class="label">Przedmiot:</td>
	<td><%= text_field :subject, :nazwa, { :value => params[:przedmiot], :size => 20} %></td>
	<td class="label">Rodzaj zajęć:</td>
  <td> <%= select(:dodaj, :rodzaj, @r) %></td>
	<td class="label">Częstotliwość zajęc:</td>
	<td><%= select(:dodaj, :czestotliwosc, @czest, :selected => @dodaj.czestotliwosc.to_s, :include_blank => false ) %></td>
</tr>
<tr>
	<td class="label">Katedra</td>
	<td><%= collection_select(:dodaj,:katedra, Department.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz katedre"}) %></td>
	<td class="label">Budynek:</td>
	<td><%= collection_select(:dodaj,:budynek,Building.find(:all).sort {|a,b| a.nazwa <=> b.nazwa}, :nazwa, :nazwa) %></td>
	<td class="label">Uwagi:</td>
	<td><%= text_field 'dodaj', 'uwagi', :size => 20%></td>
</tr>
<tr>
</tr>
</table></center>
	<%= submit_tag "Wyślij" %>
	<% end %>
</div>
<br />


<div id="schedules-container">
  <%= render :partial => "schedules_table" %>
</div>
