Panel Administracyjny

<br>
<br>
<br>
<%= form_tag 'admin' do %>
<table border=1 align="center">
<tr><td>Nazwa użytkownika</td><td>e-mail</td><td>Przynależność do grupy</td></tr>
<% for i in @us %>
<tr>
<td><%= i.login %></td>
<td><%= i.email%></td>
<td>
<% if i.has_role? 'admin' %>
<%= check_box(i.login.to_s, 'admin', {:checked => 'checked'}, 'tak', '') %>admin
<% else %>
<%= check_box(i.login.to_s, 'admin', {}, 'tak', '') %>admin
<% end %>
<% if i.has_role? 'user' %>
<%= check_box(i.login.to_s, 'user', {:checked => 'checked'}, 'tak', '') %>user
<% else %>
<%= check_box(i.login.to_s, 'user', {}, 'tak', '') %>user
<% end %>
<% if i.has_role? 'moderator' %>
<%= check_box(i.login.to_s, 'moderator', {:checked => 'checked'}, 'tak', '') %>moderator
<% else %>
<%= check_box(i.login.to_s, 'moderator', {}, 'tak', '') %>moderator
<% end %>
<% if i.has_role? 'kierownik' %>
<%= check_box(i.login.to_s, 'kierownik', {:checked => 'checked'}, 'tak', '') %>kierownik
<% else %>
<%= check_box(i.login.to_s, 'kierownik', {}, 'tak', '') %>kierownik
<% end %>

</td>
</tr>
<% end %>
</table>
<%= submit_tag "Zapisz" %>
<% end %>
