<br>

<h2>Drukowanie planów </h2>
<p><font><%= link_to("Pobierz plany dla sal", {:controller => 'siatka', :action => 'drukujsale'}) %></font></p>
<p><font><%= link_to("Pobierz plany dla grup", {:controller => 'siatka', :action => 'drukujgrupe'}) %></font></p>


<h2> Drukowanie zestawien grup na czw, pia </h2>

<p>
<%= form_tag '/siatka/zestawienie', {:method => 'get'} do %>
	<%= collection_select(:grupa,:nazwa, Group.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz grupę"}) %>
</td><td>
	<%= submit_tag "Pokaż" %>
<% end %>
</p>
