<div id="time"> </div>



</ul>
<table align="center" id="panel">
  <tr>
    <td>
      <ul class="nav nav-tabs nav-stacked">
        <% if can? :manage, User %>
          <li>
            <%= link_to("Uprawnienia", {:controller => 'siatka', :action => 'admin'}) %>
          </li>
        <% end %>
        <% if can? :manage, Settings %>
          <li>
            <%= link_to t("link_settings"), edit_settings_path %>
          </li>
        <% end %>
        <% if can? :manage, User %>
          <li>
             <%= link_to "Stwórz konto", new_user_registration_path %>
          </li>
        <% end %>
        <% if can? :manage, Room %>
          <li>
             <%= link_to t("link_classrooms"), rooms_path %>
          </li>
        <% end %>
        <% if can? :manage, AcademicYear %>
          <li>
             <%= link_to t("link_academic_years"), academic_years_path %>
          </li>
        <% end %>
        <% if can? :manage, Block::Type %>
          <li>
             <%= link_to t("link_block_types"), block_types_path %>
          </li>
        <% end %>
        <% if can? :manage, Group %>
          <li>
             <%= link_to t("link_groups"), groups_path %>
          </li>
        <% end %>
    </td>
    <td>
      <ul class="nav nav-tabs nav-stacked">
        <% if can? :manage, Plan %>
          <li>
             <%= link_to("Rezerwuj salę", {:controller => 'siatka', :action => 'rezerwacja'}) %>
          </li>
          <li>
             <%= link_to(t("link_add_new_block"), new_block_path) %>
          </li>
          <li>
             <%= link_to("Wykrywanie kolizji sal", {:controller => 'siatka', :action => 'kolizje'}) %>
          </li>
          <li>
             <%= link_to("Wykrywanie kolizji grup", {:controller => 'siatka', :action => 'kolizjegrup'}) %>
          </li>
          <li>
             <%= link_to("Drukowanie planów", {:controller => 'siatka', :action => 'drukowanie'}) %>
          </li>
        <% end %>
        <% if can? :manage, :all %>
          <li>
             <%= link_to("Statystyki", {:controller => 'siatka', :action => 'statystyki'}) %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<br>

<div class="main-control-panel">
  <%= render :partial => "common/timetable-forms" %>

  <p>Lista zajęć prowadzonych przez katedry/wydziały</p>
  <%= form_tag '/main/showkatedra', {:method => "get"} do %>
    <%= collection_select(:plan,:katedra, Department.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz katedre"}) %>
    <%= submit_tag "Pokaż" %>
  <% end %>
  <br>

</div>

