<div id="time"> </div>

<table align="center" id="panel">
<tr>
	<td>
		<ul>
			<% if can? :manage, User %>
              <li>
                <p> <%= link_to("Uprawnienia", {:controller => 'siatka', :action => 'admin'}) %> </p>
              </li>
            <% end %>
			<% if can? :manage, Settings %>
              <li>
                <p> <%= link_to("Ustawienia systemu", {:controller => 'siatka', :action => 'konfiguracja'}) %> </p>
              </li>
            <% end %>
			<% if can? :manage, User %>
              <li>
                <p> <%= link_to("Stwórz konto", {:controller => 'account', :action => 'signup'}) %> </p>
              </li>
            <% end %>
			<% if can? :manage, Freeday %>
              <li>
                <p> <%= link_to("Ustaw dni wolne", {:controller => 'freedays', :action => ''}) %> </p>
              </li>
            <% end %>
			<% if can? :manage, Schedule %>
		      <li>
                <p> <%= link_to("Zarządzaj planami", {:controller => 'schedules', :action => ''}) %> </p>
              </li>
            <% end %>
		</ul>
	</td>
    <td>
      <ul>
        <% if can? :manage, Plan %>
          <li>
            <p> <%= link_to("Rezerwuj salę", {:controller => 'siatka', :action => 'rezerwacja'}) %> </p>
          </li>
          <li>
            <p> <%= link_to("Wprowadź dane", {:controller => 'siatka', :action => 'add'}) %></p>
          </li>
          <li>
            <p> <%= link_to("Wykrywanie kolizji sal", {:controller => 'siatka', :action => 'kolizje'}) %> </p>
          </li>
          <li>
            <p> <%= link_to("Wykrywanie kolizji grup", {:controller => 'siatka', :action => 'kolizjegrup'}) %> </p>
          </li>
          <li>
            <p> <%= link_to("Drukowanie planów", {:controller => 'siatka', :action => 'drukowanie'}) %> </p>
          </li>
        <% end %>
        <% if can? :manage, :all %>
          <li>
            <p> <%= link_to("Statystyki", {:controller => 'siatka', :action => 'statystyki'}) %> </p>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<br>
<div align="center">

<table>
 <tr>
  <td> Rezerwacje: </td><td>
  <%= form_tag '/main/rezerwacje', {:method => 'get'} do %>
	<%= collection_select(:room,:sala, Room.find(:all).sort {|x,y| x.numer.to_i <=> y.numer.to_i}, :numer, :numer, {:prompt => "Wybierz sale"}) %>
  </td>
  <td>
	<%= submit_tag "Pokaż" %>
  </td><% end %>
  </tr>
<tr>
<td> Plan sal: </td><td>
<%= form_tag '/main/showroom', {:method => 'get'} do %>
	<%= collection_select(:room,:sala, Room.find(:all).sort {|x,y| x.numer.to_i <=> y.numer.to_i}, :numer, :numer, {:prompt => "Wybierz sale"}) %>
</td>
<td>
	<%= submit_tag "Pokaż" %>
</td>
<% end %>
</td></tr><tr>
<td>Plan prowadzących: </td><td>
<%= form_tag '/main/showprow', {:method => 'get'} do %>
	<%= collection_select(:lecturer,:lecture, Lecturer.find(:all), :lecture, :lecture, {:prompt => "Wybierz prowadzącego"}) %>
</td>
<td>
	<%= submit_tag "Pokaż" %>
<% end %>
</td>
</tr>
<td>Plan grup:</td><td>
<%= form_tag '/main/showgroup', {:method => 'get'} do %>
	<%= collection_select(:plan,:id, Group.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz grupę"}) %>
</td><td>
	<%= submit_tag "Pokaż" %>
<% end %>
</td></tr>
</table>
<br>

<p>Lista zajęć prowadzonych przez katedry/wydziały</p>
<%= form_tag '/main/showkatedra', {:method => "get"} do %>
	<%= collection_select(:plan,:katedra, Department.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz katedre"}) %>
	<%= submit_tag "Pokaż" %>
<% end %>
<br>

</div>

