<head>
  <title>Geos Informatica <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %> 
  <%= stylesheet_link_tag 'plany' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'controls' %> 
  <%= javascript_include_tag 'effects' %>
</head>

<% @kierunki.each_pair do |key, value| %>
<% unless value[:empty] %>
<div class="break" style="page-break-after:always">
<h2> Zestawienie kierunku: <%= key %> </h2>
<% for grupa in value[:zajecia] %>
     <% @grupa_czw = grupa[:zajecia_czw] %>
     <% @grupa_pia = grupa[:zajecia_pia] %>
		 <% if !@grupa_czw.empty? or !@grupa_pia.empty? %> 
<table id="zest1">
    	<tr class="group_name"> 
					<td colspan=5> <%= grupa[:grupa].nazwa %> </td>
			</tr>
			<% unless @grupa_czw.empty? %>
				<tr>
					<td class="title" colspan=5> Czwartek </td>
				</tr>
				<tr>
					<th> Godz</th>
					<th> Rodzaj </th>
					<th> Sala </th>
					<th> Przedmiot </th>
					<th> Prowadzący </th>
				</tr>
 				<%	for i in @grupa_czw %>
				<tr>	
					<td><%= "#{GetHour(i.godz.to_i)} - #{GetHour(i.godz.to_i+ i.dlugosc.to_i * 45)}" %> </td>
   	 			<td><%= "#{i.rodzaj}" %> </td>
  	 			<td><%= "#{@b} sala #{i.sala} " %> </td>
					<td><%= "#{i.przedmiot}" %></td>
  	 			<td><%= "#{i.prowadzacy}" %></td>
				</tr>
				<%	end %>	
			<% end %>
			<% unless @grupa_pia.empty? %>
				<tr>
					<td class="title" colspan=5> Piątek </td>
				</tr>
				<tr>
					<th> Godz</th>
					<th> Rodzaj </th>
					<th> Sala </th>
					<th> Przedmiot </th>
					<th> Prowadzący </th>
				</tr>
 				<%	for i in @grupa_pia %>
				<tr>	
					<td><%= "#{GetHour(i.godz.to_i)} - #{GetHour(i.godz.to_i+ i.dlugosc.to_i * 45)}" %> </td>
   	 			<td><%= "#{i.rodzaj}" %> </td>
  	 			<td><%= "#{@b} sala #{i.sala} " %> </td>
					<td><%= "#{i.przedmiot}" %></td>
  	 			<td><%= "#{i.prowadzacy}" %></td>
				</tr>
				<%	end %>	
		 <% end %>
</table>
<br />
<br />
<% end %>
<% end %>
</div>
<% end %>
<%end %>
