<div align="center" id="Eplany">
  <p> Zajęcia grupy: <%= @grupa %> <font size=1>
<% if @grupa == "inne" %>
<br />
  <% for d in @dni %>
    <%= d %> <br />
    <% for g in @godz1 %>
<p>		<%= @qwe[g][d] %></p>
    <% end %>
  <% end %>
<%else%>
  <%= link_to("Pobierz plan", {:controller => 'siatka', :action => 'drukujgrupe', :params => { :grupa => @grupa}}) %></font></p>
  <br />
    <table class="plan">

	<tr style="font-size:small">
	    <th id="tableHeader"> Godz </th>
            <th>Pon</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
	</tr>

	<% for go in @godz1 %>
	  <% @i += 1 %>
	  <% @j += 1 %>
		<% @line +=1 %>
	  <tr <%= @line > 4  ? "class='lightline'" : "" %> >
			<% @line > 7 ? @line = 0 : "" %>
	   <% @j == 4 ? @j=0 : "" %>
           <% if @j == 1 %>
	    <td class="hour" rowspan="4"><%= go + "-#{@godz[@i]}" %>
	    </td>
	   <% end %>
	   <% for dn in @dni %>
             <% @dl = @qwe[go][dn].to_s.split("::") %>
	     <% if @dl[2].to_i != 0 %>
		<% @blok += 1 %>
		<% @blok_ln[dn] = @dl[2].to_i * 3 %>
		<% @blok_ln[dn] -= 1 %>
	       <td <%= @dl[4] == "W" ? "class=blok-w" : "class=blok-cw" %> rowspan="<%= @dl[2].to_i * 3 %>" >
			<table class="blokinfo" >
				<tr height=15px><td colspan=2 class="head_info"><%= @dl[4] %> </td></tr>
				<tr height=25%><td colspan=2 class="middle_info"><b><%= @dl[3] %></b><br/><small><%= @dl[0] %></small></b></td></tr>
				<tr height=15px><td class="bottom_info">
			<span class="left"></span></td><td align="right">
			<span class="right"><%= @dl[6] == "A0" ? @b="#{@dl[1]}" : @b="#{@dl[6]}, #{@dl[1]}" %></span>

		                  </td>
 				</tr>
			</table>

	       </td>
	     <% else %>
		<% if @blok_ln[dn] != 0  %>
			<% @blok_ln[dn] -= 1 %>
			<!--<td>#<%= @blok %> <%= @blok_ln %></td>-->
		<% else %>
			<td class="blokpusty"></td>
		<%end%>
	     <% end %>

        <% end %>


	<% end %>
	</tr>
      </table>
<% end %>
</div>

