<br>
<div align="center">
  <table>
    <tr>
      <td> Rezerwacje: </td>
      <td>
        <%= form_tag '/main/rezerwacje', {:method => 'get'} do %>
          <%= collection_select(:room,:sala, Room.find(:all).sort {|x,y| x.numer.to_i <=> y.numer.to_i}, :numer, :numer, {:prompt => "Wybierz sale"}) %>
          <%= submit_tag "Pokaż" %><% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td> Sala: </td><td>
        <%= form_tag '/main/showroom', {:method => 'get'} do %>
          <%= collection_select(:room,:sala, Room.find(:all).sort {|x,y| x.numer.to_i <=> y.numer.to_i}, :numer, :numer, {:prompt => "Wybierz sale"}) %>
          <%= submit_tag "Pokaż" %><% end %>
      </td>
      <td>
      </td>
    </tr>
    <!-- <tr>
      <td>prowadzących: </td><td>
        <%= form_tag '/main/showprow' , {:method => 'get'} do %>
          <%= collection_select(:lecturer,:lecture, Lecturer.find(:all), :lecture, :lecture, {:prompt => "Wybierz prowadzącego"}) %>
          <%= submit_tag "Pokaż" %>
        <% end %>
      </td>
      <td>
      </td>
    </tr>-->
    <tr>
      <td> Grupa: </td>
      <td>
        <%= form_tag '/main/showgroup', {:method => 'get'} do %>
          <%= collection_select(:plan,:id, Group.find(:all, :group => "nazwa"), :nazwa, :nazwa, {:prompt => "Wybierz grupę"}) %>
          <%= submit_tag "Pokaż" %>
        <% end %>
      </td>
      <td>
      </td>
    </tr>
  </table>
  <br>
  <div class="warning">
    !! PLAN ZAJĘĆ ZAMIESZCZONY NA STRONIE MOŻE ULEC ZMIANIE !!
  </div>
  <br>
  <!--
  <p>Lista zajęć prowadzonych przez katedry/wydziały</p>
  <%= form_tag :controller => 'main', :action => 'showkatedra' do %>
    <%= collection_select(:plan,:katedra, Department.find(:all), :nazwa, :nazwa, {:prompt => "Wybierz katedre"}) %>
    <%= submit_tag "Pokaż" %>
  <% end %>-->
  <br>
</div>
