<%= form_for @block, :html => { :id => "new-block-form-modal" } do |f| %>
  <div class="errors"> </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label> <%= t("label_groups") %> </label>
      <div id="groups_label_container"> </div>
    </div>
    <div class="form-group col-md-8">
      <label> <%= t("label_room") %> </label>
      <div id="room_label_container"> </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label> <%= t("label_lecturer") %> </label>
      <div>
        <%= f.collection_select :lecturer_ids, @lecturers, :id,
          :full_name, { :selected => @block.lecturer_ids },
          {
            :multiple => true, "data-placeholder" => t("prompt_lecturer"),
            :class => "chosen-select", :tabindex => 6
          } %>

      </div>
    </div>
    <div class="form-group col-md-8">
      <label> <%= t("pyrite.label.subject.name") %> </label>
      <div>
        <%= f.collection_select :subject_id, @subjects, :id, :name,
                                {:selected => @block.subject_id, :include_blank => true},
                                { :tabindex => 9, :style => "width: 100%",
                                 "data-placeholder" => t("placeholder_click_to_choose")}%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label> <%= t("label_block_type") %> </label>
      <div>
        <%= f.collection_select :variant_id, @block_variants, :id, :name, {}, {:tabindex => 7} %>
      </div>
    </div>
    <div class="form-group col-md-8">
      <label> <%= t("label_comments") %> </label>
      <div>
        <td> <%= f.text_field :comments, :tabindex => 10 %> </td>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label> <%= t("label_block_start_time") %> </label>
      <div>
        <%= f.text_field :start_time, :class => "timepicker", :autocomplete => :off %>
      </div>
    </div>
    <div class="form-group col-md-8">
      <label> <%= t("label_block_end_time") %> </label>
      <div>
        <%= f.text_field :end_time, :class => "timepicker", :autocomplete => :off  %>
        <%= f.hidden_field :day_with_date %>
      </div>
    </div>
  </div>
<% end %>
