<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "pyrite/timetable_forms" %>
<% end %>

<%= form_tag '#', {:method => :get, :role => "form", :id => "show-reservations-form", :class => "show-timetable-form"} do %>
  <div class="timetable-forms">
    <label for="reservations-timetable"> <%= t("label_reservations") %></label>
    <div class="input-data">
      <%= select(:room,:id, @rooms_reservations_with_url, {:prompt => t("prompt_room")},
                 :id => "reservations-timetable", :class => "chosen-select" ) %>
    </div>
    <div class="action">
       <%= submit_tag t("button_show"), :class => "show-btn" %>
    </div>
  </div>
<% end %>

<% cache cache_key_for_rooms_with_url do %>
  <%= form_tag "#", {:method => :get, :id => "show-room-timetable-form", :class => "show-timetable-form"} do %>
    <div class="timetable-forms">
      <label for="classrooms-timetable"> <%= t("label_classroom") %></label>
      <div class="input-data">
        <%= select(:room,:id, @rooms_with_url, {:prompt => t("prompt_room")},
                   :id => "classrooms-timetable", :class => "chosen-select") %>
      </div>
    <div class="action">
        <%= submit_tag t("button_show"), :class => "show-btn" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_tag "#" , {:method => :get, :id => "show-lecturer-timetable-form", :class => "show-timetable-form" } do %>
  <div class="timetable-forms">
    <label for="lecturer-timetable"> <%= t("label_lecturer") %></label>
    <div class="input-data">
      <%= select(:lecturer,:id, @lecturers_with_url, {:prompt => t("prompt_lecturer")},
                 :id => "lecturers-timetable", :class => "chosen-select") %>
      </div>
    <div class="action">
      <%= submit_tag t("button_show"), :class => "show-btn" %>
    </div>
  </div>
<% end %>

<% cache cache_key_for_groups_with_url do %>
  <%= form_tag "#", {:method => :get, :id => "show-group-timetable-form", :class => "show-timetable-form"} do %>
    <div class="timetable-forms">
      <label for="group_id"> <%= t("label_group") %></label>
      <div class="input-data">
        <%= select(:group, :id, @groups_with_url, {:prompt => t("prompt_group")}, :class => "chosen-select") %>
      </div>
      <div class="action">
        <%= submit_tag t("button_show"), :class => "show-btn" %>
      </div>
    </div>
  <% end %>
<% end %>
