<%= content_for(:additional_javascript_libraries) do %>
  <script>
     $(document).ready(function () {
       $("#print-groups-form").on("submit", function() {
          window.location.href = $("#groups_timetable_event_id").val();
          return false;
       });
     });
  </script>
<% end %>
<h2> <%= t("header_prints") %> </h2>

<%= form_tag "#", {:id => "print-groups-form", :class => "print-timetable-form"} do %>
  <div class="form-group">
    <label class="control-label col-sm-2" for=""> <%= t("label_print_groups") %></label>
    <div class="col-sm-8">
      <%= select(:groups_timetable_event, :id, @events_with_url) %>
    </div>
    <div class="col-sm-2">
      <%= submit_tag t("button_save_as_pdf"), :id => "print-groups-timetables-button", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
