<%= form_for @block, :remote => true do |f| %>
  <div class="errors"> </div>
  <div class="form-group">
    <label> <%= t "label_groups" %></label>
    <div>
      <%= f.collection_select :group_ids, @groups, :id, :name,
                              {:selected => @block.group_ids},
                              {:multiple => true} %>
    </div>
  </div>
  <div class="form-group">
    <label> <%= t "label_lecturer" %></label>
    <div>
      <%= f.collection_select :lecturer_id, @lecturers, :id,
        :full_name, { :include_blank => true },
        { "data-placeholder" => t("prompt_lecturer"), :class => "chosen-select" } %>
    </div>
  </div>
  <div class="form-group">
    <label> <%= t "label_room" %></label>
    <div>
      <%= f.collection_select :room_id, @rooms, :id, :name_with_building,
                              {:prompt => t("prompt_room") } %>
    </div>
  </div>
  <div class="form-group">
    <label> <%= t "label_comments" %></label>
    <div>
      <%= f.text_field :comments %>
    </div>
  </div>
  <div class="form-group">
    <label> <%= t "label_block_type" %></label>
    <div>
      <%= f.collection_select :variant_id, @block_variants, :id, :name %>
    </div>
  </div>
  <div class="form-group">
    <label> <%= t "label_block_name" %></label>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

<% end %>
