<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "pyrite/blocks" %>
  <%= javascript_include_tag "pyrite/blocks/new" %>
<% end %>

<%= content_for(:additional_stylesheets) do %>
  <%= stylesheet_link_tag "pyrite/blocks" %>
<% end %>

<h2> <%= t("header_add_new_block") %> </h2>
<br>
<br>
  <%= form_for @block, { :id => "new-block-form" } do |f| %>
    <%= error_msgs_for @block %>
    <div class="row">
      <div class="form-group" id="academic-year-event-select">
        <label> <%= t("label_academic_year_event") %> </label>
        <div>
          <%= f.collection_select :event_id,
            AcademicYear.for_editing.events, :id, :name, {}, {:tabindex => 1} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group" id="groups-select">
        <label> <%= t("label_groups") %> </label>
        <div>
          <%
             opt_group_from_collection =  option_groups_from_collection_for_select(@optgroups, :groups, :full_name, :id, :name)
             opt_group_from_hash = grouped_options_for_select( @optgroups_hash )
             opt = opt_group_from_hash + opt_group_from_collection
          %>


          <%= f.select :group_ids, opt, {:selected => @block.group_ids},
                                  {:multiple => true, "data-timetable-url" => groups_timetable_path,
                                   :tabindex => 2, :class => "select2", :style => "width:100%",
                                   "data-placeholder" => t("placeholder_click_to_choose")}%>
        </div>
      </div>
      <div class="form-group" id="room-select">
        <label> <%= t("label_room") %> </label>
        <div>
          <%= f.collection_select :room_ids, @rooms, :id, :name_with_building,
                                  {:selected => @block.room_ids},
                                  {:multiple => true, "data-timetable-url" => rooms_timetable_path,
                                   :tabindex => 3, :class => "chosen-select",
                                   "data-placeholder" => t("placeholder_click_to_choose")}%>
        </div>
      </div>
    </div>
  <% end %>

<div id="groups-timetable-container">
  <div id="groups-timetable"> </div>
</div>
<div id="room-timetable-container">
  <div id="room-timetable"></div>
</div>

<%= render :partial => "pyrite/common/modal_edit_block" %>
<%= render :partial => "pyrite/common/modal_new_block" %>
