<%= content_for(:additional_javascript_libraries) do %>
  <script type="text/javascript">
    $('#room-timetable').html('');
    var options = {
      dayNamesShort: <%= raw fc_days %>,
      events: <%= raw @events.to_json %>,
      eventRender: function(event, element) {
        element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-groups-names'>" + event.groups_names + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
      },
    }

    $('#room-timetable').fullCalendar_with_defaults(options);
    var block_date = $.fullCalendar.parseDate( "<%= Pyrite::AcademicYear::Event.for_viewing.start_date.to_i %>" )
    $("#room-timetable").fullCalendar('gotoDate', block_date);
  </script>
<% end %>

<h2 class="text-center"> <%= t("label_timetable_for_room") %> <%= @room.name %> </h2>
<%= link_to t("link_print"), print_room_timetable_path(params[:id], Pyrite::AcademicYear::Event.for_viewing), :class => "print-btn pull-right" %>

<div id="room-timetable"> </div>
