<%= content_for(:additional_javascript_libraries) do %>
  <script>
     $(document).ready(function () {
       $(".print-timetable-form").on("submit", function() {
          window.location.href = $(this).find("select").val();
          return false;
       });
     });
  </script>
<% end %>
<h2> <%= t("header_prints") %> </h2>

<div class="row">
  <%= form_tag "#", {:id => "print-groups-form", :class => "print-timetable-form"} do %>
    <div class="form-group">
      <label class="col-md-offset-1 col-md-2"> <%= t("label_print_groups") %></label>
      <div class="col-md-6">
        <%= select(:groups_timetable_event, :id, @events_with_url_for_groups) %>
      </div>
      <div class="col-md-2">
        <%= submit_tag t("button_save_as_pdf"), :id => "print-groups-timetables-button", :class => "print-btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <%= form_tag "#", {:id => "print-rooms-form", :class => "print-timetable-form"} do %>
    <div class="form-group">
      <label class="col-md-offset-1 col-md-2"> <%= t("pyrite.label.print_rooms") %></label>
      <div class="col-md-6">
        <%= select(:rooms_timetable_event, :id, @events_with_url_for_rooms) %>
      </div>
      <div class="col-md-2">
        <%= submit_tag t("button_save_as_pdf"), :id => "print-groups-timetables-button", :class => "print-btn" %>
      </div>
    </div>
  <% end %>
</div>
