<h2> <%=t "header_block_types" %></h2>

<%= link_to t("button_new_block_type"), new_block_type_path, :class => "btn btn-primary pull-right" %>

<table class="table">
  <tr>
    <th> <%=t "label_name" %> </th>
    <th> <%=t "label_short_name" %> </th>
    <th> <%=t "label_description" %></th>
    <th> <%=t "label_actions" %></th>
  </tr>

<% @block_types.each do |block_type| %>
  <tr>
    <td><%= block_type.name %></td>
    <td><%= block_type.short_name %></td>
    <td><%= block_type.description %></td>
    <td>
      <%= link_to t("button_edit"), edit_block_type_path(block_type), :class => "btn btn-primary" %>
      <%= link_to t("button_delete"), block_type, method: :delete, data: { confirm: t("confirm_to_remove_block_type") }, :class => "btn delete-button" %></td>
  </tr>
<% end %>
</table>
