<h2> <%=t "header_new_block_type" %> </h2>

<%= form_for @block_type, :url => block_types_path do |f| %>
  <%= error_msgs_for @block_type %>
  <%= render 'form', :f => f %>
<% end %>

<%= link_to t(:button_back), block_types_path, :class => "back-btn" %>
