<%= content_for(:additional_javascript_libraries) do %>
  <script type="text/javascript">
    $('#groups-timetable').html('');
    var options = {
      dayNamesShort: <%= raw fc_days %>,
      events: <%= raw @events.to_json %>
    }

    $('#groups-timetable').fullCalendar_with_defaults(options);
  </script>
<% end %>

<%= t("label_timetable_for_group") %> <%= @group.name %>

<div id="groups-timetable"> </div>
