<%= content_for(:additional_javascript_libraries) do %>
  <script type="text/javascript">
    $('#groups-timetable').html('');
    var options = {
      dayNamesShort: <%= raw fc_days %>,
      events: <%= raw @events.to_json %>,
      eventRender: function(event, element) {
        element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-room-name'>" + event.room_name + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
      },
    }

    $('#groups-timetable').fullCalendar_with_defaults(options);
    var block_date = $.fullCalendar.parseDate( "<%= AcademicYear::Event.for_viewing.start_date.to_i %>" )
    $("#groups-timetable").fullCalendar('gotoDate', block_date);
  </script>
<% end %>

<%= t("label_timetable_for_group") %> <%= @group.name %>
<%= link_to t("link_print"), print_group_timetable_path(params[:id], AcademicYear::Event.for_viewing), :class => "btn btn-primary btn-mini pull-right" %>

<div id="groups-timetable"> </div>
