<h1> <%= t "header_edit_academic_year" %> </h1>

<%= render 'form' %>

<h2> <%= t "header_academic_year_events" %> </h2>

<div id="academic-year-events-list">
  <%= render :partial => "academic_years/events/list", :locals => { :events => @academic_year.events } %>
</div>

<%= link_to t("button_new_academic_year_event"), new_academic_year_event_path(@academic_year),
            :class => "btn btn-primary pull-right", :remote => true, :id => "button-new-academic-year-event" %>

<div id="academic-year-events-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="academic-year-events-modal-label"> <%=t "modal_header_new_academic_year_event" %></h3>
      </div>

      <div class="modal-body"> </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"> <%= t "button_close" %></button>
        <button class="btn btn-primary" id="submit-academic-year-event-form"> <%= t "button_save" %> </button>
      </div>
    </div>
  </div>
</div>

<%= link_to t("button_show"), @academic_year %>
<%= link_to t("button_back"), academic_years_path %>
