<h1> <%= t "header_listing_academic_years" %> </h1>

<%= link_to t("button_new_academic_year") , new_academic_year_path, :class => "btn btn-primary pull-right" %>
<table class="table">
  <thead>
    <tr>
      <th> <%= t("label_academic_year_name") %> </th>
      <th> <%= t("label_academic_year_start_date") %></th>
      <th> <%= t("label_academic_year_end_date") %></th>
      <th> <%= t("label_action") %> </th>
    </tr>
  </thead>
  <tbody>
    <% @academic_years.each do |academic_year| %>
      <tr>
        <td> <%= academic_year.name %> </td>
        <td> <%= academic_year.start_date %> </td>
        <td> <%= academic_year.end_date %> </td>
        <td>
          <%= link_to t("button_show"), academic_year, :class => "btn btn-primary" %>
          <%= link_to t("button_edit"), edit_academic_year_path(academic_year), :class => "btn btn-success" %>
          <%= link_to t("button_delete"), academic_year, method: :delete, data: { confirm: t("confirm_removing_academic_year") }, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
