<table align="center">
  <tr>
		<th>L.p.</th>
    <th>Semestr</th>
    <th>Rok</th>
  </tr>

<% for schedule in @schedules %>
  <tr height="30px">
    <td><%=h schedule.id %></td>
    <td width="100px" ><%=h schedule.nazwa %></td>
    <td width="150px"><%=h schedule.rok %></td>
    <td><%= link_to 'Pokaż', schedule %></td>
    <td><%= link_to 'Edytuj', edit_schedule_path(schedule) %></td>
    <td><% link_to 'Destroy', schedule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowy plan', new_schedule_path %>
