<%= form_for(@schedule) do |f| %>
  <%= error_msgs_for @schedule %>

<table align="center">
 <tr>
		<td><%= f.label :nazwa %></td>
		<td><%= f.text_field :nazwa %></td>
 </tr>
 <tr>
	<td><%= f.label :rok %></td>
	<td><%= f.text_field :rok %></td>
 </tr>
</table>
    <%= f.submit "Zapisz" %>
<% end %>

<%= link_to 'Wstecz', schedules_path %>
