<h1> <%= t "header_listing_groups" %> </h1>

<%= link_to t("button_new_group"), new_group_path, :class => "add-btn pull-right" %>


<ul class="nav nav-tabs" id="groups-tabs">
  <li class="active"> <a href="#full-time-group-list" data-toggle="tab"> <%= t("pyrite.groups.tab.full-time-studies") %> </a> </li>
  <li> <a href="#part-time-group-list" data-toggle="tab"> <%= t("pyrite.groups.tab.part-time-studies") %> </a> </li>
</ul>

<div class="tab-content", id="list-container">
  <div id="full-time-group-list" class="tab-pane active">
    <%= render :partial => "pyrite/groups/list", :locals => { :groups => @groups } %>
  </div>
  <div id="part-time-group-list" class="tab-pane">
    <%= render :partial => "pyrite/groups/list", :locals => { :groups => @part_time_groups } %>
  </div>

</div>
