<%= content_for(:additional_javascript_libraries) do %>
  <script type="text/javascript">
    $('#groups-timetable').html('');
    var options = {
      dayNamesShort: <%= raw fc_days %>,
      events: <%= raw @events.to_json %>,
      eventRender: function(event, element) {
        element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-room-name'>" + event.room_name + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-lecturer'>" + event.lecturer + "</div>")
        if(event.comments.length > 0) {
          element.children(".fc-event-inner").prepend("<div class='fc-event-comments' title='" + event.comments +"'></div>")
        }
      },
    }

    $('#groups-timetable').fullCalendar_with_defaults(options);
    var block_date = $.fullCalendar.parseDate( "<%= AcademicYear::Event.for_viewing.start_date.to_i %>" )
    $("#groups-timetable").fullCalendar('gotoDate', block_date);
  </script>
<% end %>

<h2 class="text-center"> <%= t("label_timetable_for_group") %> <%= @group.name %> </h2>
<%= link_to t("link_print"), print_group_timetable_path(params[:id], AcademicYear::Event.for_viewing), :class => "print-btn pull-right" %>

<div id="groups-timetable"> </div>
