<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "settings" %>
<% end %>
<h2> <%= t("header_edit_settings") %> </h2>

<div id="settings-container">
  <%= form_for @settings, :url => settings_path, :method => :put,
    :html => { "data-fetch-url" => events_for_academic_year_path, :class => "form-horizontal" } do |f|%>

    <div class="control-group">
      <label class="control-label" for="settings_year_for_viewing">
        <%= t("label_plan_for_viewing") %>
      </label>
      <div class="controls">
        <%= select_tag(:year_for_viewing,
              options_from_collection_for_select(AcademicYear.all, :id, :name,
                       AcademicYear.for_viewing.id), {"data-update" => "#settings_event_id_for_viewing" } ) %>
      </div>
      <br>
      <div class="controls">
        <%= f.collection_select(:event_id_for_viewing,
                                AcademicYear.for_viewing.events, :id, :name) %>
      </div>
    </div>
    <div class="control-group">
    </div>
    <div class="control-group">
      <label class="control-label" for="settings_year_for_editing">
        <%= t("label_plan_for_editing") %>
      </label>
      <div class="controls">
        <%= select_tag(:year_for_editing,
              options_from_collection_for_select(AcademicYear.all, :id, :name,
                       AcademicYear.for_editing.id), { "data-update" => "#settings_event_id_for_editing"}) %>
      </div>
      <br>
      <div class="controls">
        <%= f.collection_select(:event_id_for_editing,
                                AcademicYear.for_editing.events, :id, :name) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="settings_unit_name">
        <%= t("label_unit_name") %>
      </label>
      <div class="controls">
        <%= f.text_field :unit_name %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="settings_email_contact">
        <%= t("label_email_contact") %>
      </label>
      <div class="controls">
        <%= f.text_field :email_contact %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="settings_pdf_subtitle">
        <%= t("label_pdf_subtitle") %>
      </label>
      <div class="controls">
        <%= f.text_field :pdf_subtitle %>
      </div>
    </div>

    <%= f.submit t("button_save"), :class => "btn" %>
  <% end %>
</div>
