<%= form_for @block, :remote => true, :html => { :class => "form-horizontal" } do |f| %>
  <%= error_msgs_for @block %>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_groups" %></label>
    <div class="controls">
      <%= f.collection_select :group_ids, Group.all, :id, :name,
                              {:selected => @block.group_ids},
                              {:multiple => true, "data-timetable-url" => timetables_groups_path} %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_lecturer" %></label>
    <div class="controls">
      <%= f.collection_select :lecturer_id, Lecturer.all, :id, :full_name, :prompt => t("prompt_lecturer") %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_room" %></label>
    <div class="controls">
      <%= f.collection_select :room_id, Room.all, :id, :name,
                              {:prompt => t("prompt_room") },
                              {"data-timetable-url" => timetables_rooms_path} %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_comments" %></label>
    <div class="controls">
      <%= f.text_field :comments %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_type" %></label>
    <div class="controls">
      <%= f.collection_select :type_id, Block::Type.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for=""> <%= t "label_block_name" %></label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

<% end %>
