<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "blocks" %>
<% end %>

<h2> <%= t("header_add_new_block") %> </h2>
<br>
<br>
  <%= form_for @block, { :id => "new-block-form", "data-preview-url" => "/siatka/preview"} do |f| %>
    <table>
      <tr>
        <td> <span class="label"> <%= t("label_groups") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_start") %> </span> </td>
        <td> <span class="label"> <%= t("label_day") %> </span> </td>
        <td> <span class="label"> <%= t("label_lecturer") %> </span> </td>
        <td> <span class="label"> <%= t("label_room") %> </span> </td>
        <td> <span class="label"> <%= t("label_comments") %> </span> </td>
      </tr>
      <tr>
        <td rowspan=3>
          <%= f.collection_select :group_ids, Group.all, :id, :name,
                                  {:selected => @block.group_ids},
                                  {:multiple => true, "data-timetable-url" => timetable_groups_path} %>

        </td>
        <td> <%= f.text_field :start_date, :class => "timepicker", :placeholder => t("placeholder_block_start") %> </td>
        <td> <%= f.select :day, options_for_select(days_for_select), :prompt => t("prompt_day") %> </td>
        <td> <%= f.collection_select :lecturer_id, Lecturer.all, :id, :name, :prompt => t("prompt_lecturer") %> </td>
        <td>
          <%= f.collection_select :room_id, Room.all, :id, :name,
                                  {:prompt => t("prompt_room") },
                                  {"data-timetable-url" => timetable_rooms_path} %>
        </td>
        <td> <%= f.text_field :comments %> </td>
      </tr>
      <tr>
        <td> <span class="label"> <%= t("label_block_end") %> </span> </td>
        <td> <span class="label"> <%= t("label_academic_year_event") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_type") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_name") %> </span> </td>
      </tr>
      <tr>
        <td> <%= f.text_field :end_date, :class => "timepicker", :placeholder => t("placeholder_block_end") %> </td>
        <td> <%= f.collection_select :event_id, AcademicYear::Event.all, :id, :name %> </td>
        <td> <%= f.collection_select :block_type_id, Block::Type.all, :id, :name %> </td>
        <td colspan=2> <%= f.text_field :name %> </td>
      </tr>
    </table>

    <%= f.submit t("button_save"), :class => "submit-btn" %>
  <% end %>


<div id="groups-timetable"> </div>
<div id="room-timetable"></div>
