<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "blocks" %>
  <%= javascript_include_tag "blocks/new" %>
<% end %>

<%= content_for(:additional_stylesheets) do %>
  <%= stylesheet_link_tag "blocks" %>
<% end %>

<h2> <%= t("header_add_new_block") %> </h2>
<br>
<br>
  <%= form_for @block, { :id => "new-block-form", "data-preview-url" => "/siatka/preview"} do |f| %>
    <%= error_msgs_for @block %>
    <table>
      <tr>
        <td> <span class="label"> <%= t("label_groups") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_start_time") %> </span> </td>
        <td> <span class="label"> <%= t("label_day") %> </span> </td>
        <td> <span class="label"> <%= t("label_lecturer") %> </span> </td>
        <td> <span class="label"> <%= t("label_room") %> </span> </td>
        <td> <span class="label"> <%= t("label_comments") %> </span> </td>
      </tr>
      <tr>
        <td rowspan=3>
          <%= f.collection_select :group_ids, Group.all, :id, :name,
                                  {:selected => @block.group_ids},
                                  {:multiple => true, "data-timetable-url" => timetables_groups_path} %>

        </td>
        <td>
          <%= f.text_field :start_time, :class => "timepicker", :autocomplete => :off,
                           :placeholder => t("placeholder_block_start_time") %>
        </td>
        <td>
          <%= f.select :day, options_for_select(days_for_select, @block.day) %>
        </td>
        <td> <%= f.collection_select :lecturer_id, Lecturer.all, :id, :name, :prompt => t("prompt_lecturer") %> </td>
        <td>
          <%= f.collection_select :room_id, Room.all, :id, :name,
                                  {:prompt => t("prompt_room") },
                                  {"data-timetable-url" => timetables_rooms_path} %>
        </td>
        <td> <%= f.text_field :comments %> </td>
      </tr>
      <tr>
        <td> <span class="label"> <%= t("label_block_end_time") %> </span> </td>
        <td> <span class="label"> <%= t("label_academic_year_event") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_type") %> </span> </td>
        <td> <span class="label"> <%= t("label_block_name") %> </span> </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :end_time, :class => "timepicker", :autocomplete => :off,
                                      :placeholder => t("placeholder_block_end_time") %>
        </td>
        <td>
          <%= f.collection_select :event_id,
              AcademicYear::Event.current_for_edit, :id, :name %>
        </td>
        <td> <%= f.collection_select :type_id, Block::Type.all, :id, :name %> </td>
        <td colspan=2> <%= f.text_field :name %> </td>
      </tr>
    </table>

    <%= f.submit t("button_save"), :class => "submit-btn" %>
  <% end %>


<div id="groups-timetable-container">
  <div id="groups-timetable"> </div>
</div>
<div id="room-timetable-container">
  <div id="room-timetable"></div>
</div>
