<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "pyrite/spectrum" %>
  <%= javascript_include_tag "pyrite/block/types" %>
<% end %>

<%= content_for(:additional_stylesheets) do %>
  <%= stylesheet_link_tag "pyrite/block/types" %>
  <%= stylesheet_link_tag "pyrite/spectrum" %>
<% end %>

<div class="form-group">
  <label> <%= t "label_block_type_name" %></label>
  <div>
    <%= f.text_field :name %>
  </div>
</div>
<div class="form-group">
  <label for=""> <%= t "label_block_type_short_name" %></label>
  <div>
    <%= f.text_field :short_name %>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for=""> <%= t "label_block_type_color" %></label>
  <div class="controls">
    <%= f.text_field :color, :class => "colorpicker" %>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for=""> <%= t "label_block_type_description" %></label>
  <div class="controls">
    <%= f.text_area :description %>
  </div>
</div>

<div class="actions">
  <%= f.submit t("button_save"), :class => "submit-btn pull-right" %>
</div>
