<h1> <%= t "header_edit_academic_year" %> </h1>

<%= render 'form' %>

<h2> <%= t "header_academic_year_events" %> </h2>

<ul class="nav nav-tabs" id="academic-year-tabs">
  <li class="active"> <a href="#academic-year-events-list" data-toggle="tab"> <%= t("academic_year.tab.full-time-studies") %> </a> </li>
  <li> <a href="#academic-year-meetings-list" data-toggle="tab"> <%= t("academic_year.tab.part-time-studies") %> </a> </li>
</ul>

<div class="tab-content" id="list-container">
  <%= render :partial => "academic_years/list", :locals => {:events => @academic_year.events } %>
</div>


<div id="academic-year-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="academic-year-modal-label"> </h3>
      </div>

      <div class="modal-errors"> </div>
      <div class="modal-body"> </div>
      <div class="modal-footer">
        <button class="cancel-btn" data-dismiss="modal" aria-hidden="true"> <%= t "button_close" %></button>
        <button class="submit-btn" id="submit-academic-year-form"> <%= t "button_save" %> </button>
      </div>
    </div>
  </div>
</div>
<%= link_to t("button_back"), academic_years_path, :class => "back-btn" %>
<%= link_to t("button_show"), @academic_year, :class => "show-btn" %>
