<div class="form-group">
  <label> <%= t "academic_year.label.name" %></label>
  <div>
    <%= meeting.text_field :name %>
  </div>
</div>
<div class="form-group">
  <label> <%= t "academic_year.label.start_date" %></label>
  <div>
    <%= meeting.text_field :start_date, :class => "datepicker", :value => @academic_year_meeting.try(:start_date).try(:strftime, "%F") %>
  </div>
</div>
<div class="form-group">
  <label> <%= t "academic_year.label.end_date" %></label>
  <div>
    <%= meeting.text_field :end_date, :class => "datepicker", :value => @academic_year_meeting.try(:end_date).try(:strftime, "%F") %>
  </div>
</div>
