<%= form_for @freeday, :html => {:class => "form-horizontal"}  do |f| %>
	<%= f.text_field :nazwa %>
  <%= f.text_field :start, :class => "datepicker" %>
  <%= f.text_field :stop, :class => "datepicker" %>

  <p>
    <%= submit_tag "Zapisz" %>
  </p>
<% end %>
<%= link_to 'Wstecz', freedays_path %>
