<%= javascript_include_tag 'calendar_date_select/calendar_date_select.js' %>
<%= javascript_include_tag 'calendar_date_select/format_hyphen_ampm.js' %>
<%= javascript_include_tag 'calendar_date_select/locale/pl.js' %>
<%= stylesheet_link_tag 'calendar_date_select/silver.css' %>

<p> Edytuj przerwe w zajęciach</p>


<%= flash[:notice] %>
<%= form_tag '/freedays/update' do %>
	<%= hidden_field :freeday, :id %>
	<%= text_field :freeday, :nazwa %>
	<%= calendar_date_select_tag :start, @freeday.start.strftime("%Y-%m-%d"), :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :time => true %>
	<%= calendar_date_select_tag :stop, @freeday.stop.strftime("%Y-%m-%d"), :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :time => true %>

  <p>
    <%= submit_tag "Zapisz" %>
  </p>
<% end %>

<%= link_to 'Wyświetl', @freeday %> |
<%= link_to 'Wstecz', freedays_path %>
