
<div class="row">
<div class="span3">
  <dl class="dl-horizontal">
    <dt> <%= t("label_classroom_name") %> </dt>
    <dd> <%= @room.name %> </dd>
    <dt> <%= t("label_building_name") %> </dt>
    <dd> <%= @room.building.try(:name) %> </dd>
    <dt> <%= t("label_classroom_type") %> </dt>
    <dd> <%= @room.type %> </dd>
    <dt> <%= t("label_classroom_capacity") %> </dt>
    <dd> <%= @room.capacity %> </dd>
    <dt> <%= t("label_classroom_comments") %> </dt>
    <dd> <%= @room.comments %> </dd>
  </dl>
</div>
</div>

<%= link_to t("button_edit"), edit_room_path(@room) %> |
<%= link_to t("button_back"), rooms_path %>
