<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" land="pl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= t("pyrite.title_system_name") %> <%= @unit_name = Pyrite::Settings.unit_name %> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "pyrite/application", media: "all" %>
    <%= yield :additional_stylesheets %>
  </head>
  <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to '', current_user ? main_app.dashboard_index_path : root_path,
                        :class => "navbar-brand" %>
          <div> <%= t("pyrite.title_system_name") %> <br> <%= @unit_name %> </div>
        </div>
        <div class="navbar-nav navbar-right">
          <ul class="nav navbar-nav">
            <%= render_navigation(:context => :header, :expand_all => true, :renderer => :bootstrap) %>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container main_container">
      <div class="breadcrumbs-box">
        <div class="flash-messages" id="notification-bar">
          <%= render :partial => "pyrite/common/flash_template" %>
        </div>
        <div class="row">
          <div class="col-md-<%=content_for?(:breadcrumbs_box_extra_content) ? 12 : 16%>">
            <%= render_navigation(:renderer => :breadcrumbs, :context => :base, :join_with => content_tag(:span, "&middot;".html_safe, :class => "sep"), :static_leaf => true) %>
          </div>
          <% if content_for?(:breadcrumbs_box_extra_content) %>
            <div class="col-md-4">
              <%= yield(:breadcrumbs_box_extra_content) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="top-menu">
        <div class="pull-right"> </div>
      </div>
      <div class="clearfix"></div>
      <div class="content">
        <% if content_for?(:content_heading) %>
          <div class="content-heading">
            <%= content_for(:content_heading) %>
          </div>
          <hr/>
        <% end %>

        <div class="content-body">
          <div>
            <%= yield %>
          </div>
        </div>
        <% if content_for?(:content_footnote) %>
          <div class="content-footnote">
            <hr />
            <%= content_for(:content_footnote) %>
          </div>
        <% end %>
      </div>
      <%= javascript_include_tag "pyrite/application" %>
      <%= yield :additional_javascript_libraries %>

      <footer>
        <p>OpenSoftware.pl 2014</p>
      </footer>
    </div>
    <% if Rails.env.test? %>
      <div id="test-badge"> </div>
    <% end %>
  </body>
</html>
