<%= content_for(:additional_javascript_libraries) do %>
  <script type="text/javascript">
    $('#lecturer-timetable').html('');
    var options = {
      dayNamesShort: <%= raw fc_days %>,
      events: <%= raw @events.to_json %>,
      eventRender: function(event, element) {
        element.children(".fc-event-inner").append("<div class='fc-event-block-type'>" + event.block_type + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-room-name'>" + event.room_name + "</div>")
        element.children(".fc-event-inner").append("<div class='fc-event-groups-names'>" + event.groups_names + "</div>")
      },
    }

    $('#lecturer-timetable').fullCalendar_with_defaults(options);
    var block_date = $.fullCalendar.parseDate( "<%= AcademicYear::Event.for_viewing.start_date.to_i %>" )
    $("#lecturer-timetable").fullCalendar('gotoDate', block_date);
  </script>
<% end %>

<h2 class="text-center"> <%= t("label_timetable_for_lecturer") %> <%= @lecturer.full_name %> </h2>

<div id="lecturer-timetable"> </div>
