<div class="alert alert-danger walert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <% if @message %>
    <strong><%=t(:label_error)%> <%=@status%></strong><br/>
    <%= @message %>
  <% else %>
    <strong><%=t :label_error%>:</strong>
    <%= msg %>
  <% end %>
</div>
