<%= content_for(:additional_javascript_libraries) do %>
  <%= javascript_include_tag "timetable_forms" %>
<% end %>

<%= form_tag '#', {:method => :get, :id => "show-reservations-form", :class => "show-timetable-form"} do %>
  <div class="control-group">
    <label class="control-label" for="reservations_timetable"> <%= t("label_reservations") %></label>
    <div class="controls">
      <%= select(:room,:id, @rooms_reservations_with_url, {:prompt => t("prompt_room")},
                            :id => "reservations-timetable" ) %>
       <%= submit_tag t("button_show"), :class => "btn" %>
    </div>
  </div>
<% end %>
<% cache cache_key_for_rooms_with_url do %>
  <%= form_tag "#", {:method => :get, :id => "show-room-timetable-form", :class => "show-timetable-form"} do %>
    <div class="control-group">
      <label class="control-label" for="classrooms-timetable"> <%= t("label_classroom") %></label>
      <div class="controls">
        <%= select(:room,:id, @rooms_with_url, {:prompt => t("prompt_room")},
                              :id => "classrooms-timetable") %>
        <%= submit_tag t("button_show"), :class => "btn" %>
      </div>
    </div>
  <% end %>
<% end %>
<%= form_tag '/main/showprow' , {:method => :get, :class => "show-timetable-form" } do %>
  <div class="control-group">
    <label class="control-label" for="lecturers-timetable"> <%= t("label_lecturer") %></label>
    <div class="controls">
      <%= collection_select(:lecturer,:lecture, Lecturer.find(:all),
                            :lecture, :lecture, {:prompt => "Wybierz prowadzącego"},
                            :id => "lecturers-timetable") %>
      <%= submit_tag t("button_show"), :class => "btn" %>
    </div>
  </div>
<% end %>
<% cache cache_key_for_groups_with_url do %>
  <%= form_tag "#", {:method => :get, :id => "show-group-timetable-form", :class => "show-timetable-form"} do %>
    <div class="control-group">
      <label class="control-label" for=""> <%= t("label_group") %></label>
      <div class="controls">
        <%= select(:group, :id, @groups_with_url, {:prompt => t("prompt_group")}) %>
        <%= submit_tag t("button_show"), :class => "btn" %>
      </div>
    </div>
  <% end %>
<% end %>
