<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siatka zajęć <%= @unit_name %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'plany' %>
    <%= stylesheet_link_tag 'main' %>
  </head>
<body>
  <div id="topmenu">
    <p><b> <%= @unit_name %> </b> </br>System planów zajęć.</p>
	  <p> SIATKA NA SEMESTR: <%= current_semester.try(:semestr_rok) %> </p>
    <div id="menu_container">
      <ul id="menu">
        <% if user_signed_in? %>
          <li> <%= link_to t("link_siatka"), siatka_path %> </li>
          <li> <%= link_to t("link_sign_out", :email => current_user.email), destroy_user_session_path, :method => :delete %> </li>
        <% else %>
          <li> <%= link_to t("link_home"), root_path %> </li>
          <li> <%= link_to t("link_sign_in"), new_user_session_path %> </li>
        <% end %>
        <li> <%= link_to t("link_howto"), howto_path %> </li>
        <li> <%= link_to t("link_contact"), contact_path %> </li>
      </ul>
      <div style="clear:both;"></div>
  </div>
  <hr style="background-color: green;color: green;height: 4px;"/>


  <div id="main">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:error] %></p>

    <%= yield  %>
  </div>
  <br />
  <footer id="footer_bg">
    <div id="stopka">
      <p><%= link_to "OpenSoftware", "http://www.opensoftware.pl/" %> <br/>Kraków 2012<br />
      <font size="0.6">siatka wersja 1.0.0rc</font>
      </p>
    </div>
  </footer>

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>

</body>
</html>
